
:root {
  --grey: rgb(216, 219, 219)
}
.right {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
}

.ticket {
  display:flex;
  flex-direction: row;
}
.line {
  width: 80px;
  border-top: 0.5px solid var(--grey);
  height: 14px;
  margin-top: 7px;
 float:left;
}
.stops {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 10px;
}
.plane-line {
text-align: center;
}

.plane-icon {
  color: var(--grey)!important;
  float: right;
  font-size: 14px;
}