:root {
  --grey: rgb(216, 219, 219);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.right {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  width: 300px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: 0.5px solid var(--grey);
}

.ticket {
  display: flex;
  flex-direction: row;
  border: none!important;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: calc(180px + 200px + 100px);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.line {
  width: 100px;
  border-top: 0.5px solid var(--grey);
  height: 14px;
  margin-top: 7px;
  float: left;
}
.stops {
  display: flex;
  position: absolute;
  margin-top: 20px;
  margin-left: 80px;
  text-align: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 9px;
  color: rgb(177, 182, 182);
}
.plane-line {
  text-align: center;
  width: 114px;
}

.plane-icon {
  color: var(--grey) !important;
  float: right;
  font-size: 14px;
}
.results {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 20px;
}

 .ticket:nth-of-type(2n){
  margin-top: 20px;
  margin-bottom: 20px;
}
.buy {
  background-color: rgb(255, 129, 0);
  height: 45px;
  width: 125px;
  border: none;
  margin: 10px auto;
  text-align: center;
  font-style: normal;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #f4f7ff;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-family: inherit;
}
img {
  height: 35px;
  width: 100px;
  margin: 10px auto;
  margin-bottom: 0;
}
.buy::after {
  content: '₽';
}

.date {
  font-size: 10px;
  color: rgb(177, 182, 182);
}
.airport-name {
  font-size: 11px;
  color: rgb(96, 99, 99);
  line-height: 16px;
}

.depature > h2, .arrival > h2 {
  font-size: 24px;
  color: rgb(96, 99, 99);
  font-weight: 350;
  margin-bottom: 5px;
}
.arrival, .depature {
  width: 100px;
  position: relative;

}
.arrival {
  margin-left: 100px;
}

.options {
  width: 400px;
}

.container {
  display: flex;  
  padding-top: 25px;
}

.page-container {
  background-color: lightcoral;
  background-color: rgb(243, 247,250);
  margin: 0 auto;
  width: 920px;
}

.plane  > img {
  height: auto;
  border-radius: 50px;
  width: 50px;
}

.plane {
margin-left: 50%;
padding-top: 25px;
}